*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    touch-action: manipulation;
    height: 100%;

    @include fluidFontSize(12px, 18px, 0, 2560px, 16px);

    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
    -webkit-text-size-adjust: none;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: normal;
}

