$color-dark: 			#333333;
$color-white: 			#ffffff;

$mobile-sm:             480px;
$mobile:                640px;
$tablet-sm:             768px;
$tablet:                992px;
$desktop-sm:            1140px;
$desktop:               1280px;
$desktop-max:           1440px;
$desktop-lg:            1640px;
$desktop--xlg:          1920px;

$md:                    1024px;
