<% var data = {
title: "Index Page"
}; %>

<!DOCTYPE html>
<html lang="ru">

<%= _.template(require('./../includes/head.html'))(data) %>

<body>
<%= _.template(require('./../includes/header.html'))(data) %>

<h1>Заголовок h1</h1>
<h2>Заголовок h2</h2>
<h3>Заголовок h3</h3>
<h4>Заголовок h4</h4>
<h5>Заголовок h5</h5>
<h6>Заголовок h6</h6>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, magni voluptatibus. Ab, aperiam, beatae blanditiis consequuntur corporis debitis dicta eius eum facere fuga natus omnis sed sint temporibus voluptate voluptatum?
</p>

<ul>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
    <li>List Item</li>
</ul>

<main>

</main>

<%= _.template(require('./../includes/footer.html'))(data) %>

<%= _.template(require('./../includes/scripts.html'))(data) %>
</body>

</html>